# Environments
.env
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Local Logs & Data
*.log
archive/
data/*.db
data/*.json.tmp
data/iot_stream.json
demo_data/
simulator.log

# Testing Temporary Data
tests/unit/test_data_tmp.json

# IDEs
.vscode/
.idea/

# Rust & Node Build Artifacts
**/target/
**/node_modules/
**/.next/
*.rdb
